@charset "UTF-8";

/* グローバル */
h1 {
	text-align: center;
}

a {
	text-align: center;
	text-decoration: none;
}

/* 入力フォーム */
.form_area {
	width: 400px;
	height: 425px;
	padding-top: 10px;
	margin: 100px auto;
	border: 1px solid gray;
	border-radius: 5px;
}

.input_form {
	text-align: center;
}

.form_title {
	font-size: 40px;
	margin: 40px 0px 15px 0px;
}

.error_area {
	font-size: 17px; 
	text-align: center;
	padding: 10px 0;
	color: white;
	background: orangered;
}

label {
	font-size: 20px;
	margin-top: 10px;
	display: block;
}

.input_area {
	width: 20em; 
	height: 30px;  
	padding: 0.5em;     
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: white; 
	font-size: 1em;       
    line-height: 1.2;  
	border: 2px solid gray;  
    border-radius: 5px; 
   	display: block;
}

.input_area:focus {
	border: 3px solid black;
}

input[type="submit"] {
	width: 50px;
	height: 25px;
	font-size : 15px;
	text-align: center;
	color: black;
	background: whitesmoke;
	margin-top: 45px;
	margin-right: 50px;
	margin-left: auto;
	border: 1px solid gray;
	border-radius: 3px;
    display: block;
    cursor: pointer;  
}

input[type="submit"]:hover {
	background: green;
}

input[type="submit"]:active {
	background: white;
}

.form_back_btn {
	width: 50px;
    height: 25px;
    color: black;
    background: whitesmoke;
    font-size : 15px;
    margin-right: 100px;
    margin-left: auto;
    border: 1px solid gray;
    border-radius: 3px;
	position: relative;
	top: -25px;
    display: block;
}

.form_back_btn:hover {
	background: red;
}

.form_back_btn:active {
  background: white;
}

/* テーブル */
table {
	border-collapse: collapse;
}

th {
	background: gainsboro;
}

th, td {
	text-align: center;
	padding: 3px 10px;
	border: solid 1px black;
}

select {
	appearance: auto;
	text-align: center;
}

.font_green {
	color: green;
}

.font_red {
	color: red;
}